body{
    background-color:hotpink;
    padding: 0;
    margin: 0;
}
.main nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    height: 5vh;
    border-radius: 20px;  
}
.main nav ul li{
    list-style: none;

}
.main nav ul li a{
    text-decoration: none;
    margin-left: 100px;
    color: white;
    transition: 0.3 ease;
}
.main nav ul li a:hover{
    color: orange;

}
